@font-face {
	font-family: 'Bold';
	src: url('fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff2') format('woff2'), url('fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff') format('woff'), url('fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.ttf') format('truetype');
}

a {
	text-decoration: none;
}

html {
	background-color: #000d12;
}

.inthesky {
	width: 400px;
}

.logo {
	height: 320px;
}

.big-text {
	font-family: 'Bold';
	color: white;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: -10px;
}

.social-media-button {
	margin-top: 50px;
	width: 80px;
	margin-right: 10px;
}

